<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,              Microsoft.Practices.Unity.Configuration" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CQRSDB" connectionString="data source=JOHNRICHTER\SPARKDB;initial catalog=CQRSDB;persist security info=True;user id=sa;password=sparksubmit666;MultipleActiveResultSets=True;" />
    <add name="SaasConnection" connectionString="server=192.168.1.42\sql2008r2;user id=sa;database=HRLink_Group180904;password=P@ssw0rd;" />
    <!-- #############################################  请先行修改host文件  ############################################# -->
    <add name="RedisConnection" connectionString="redis.hrlink.com:6379,password=sparksubmit666" />
    <add name="RabbitMQConnection" connectionString="rabbitmq.hrlink.com;5672;gauge;sparksubmit666;/TaskScheduler" />
    <add name="ZkConnection" connectionString="zk.hrlink.com:2181|/taskschedule/devmaster" />
    <!-- #############################################  40   ############################################# -->
    <!--<add name="SaasConnection" connectionString="server=192.168.1.40;user id=root;database=saas_devp_group;password=P@ssw0rd;" />
    <add name="RedisConnection" connectionString="redis.hrlink.com:6379,password=123456" />
    <add name="RabbitMQConnection" connectionString="rabbitmq.hrlink.com;5672;HRLink;hrlink;/HRLink" /> -->
    <!-- #############################################  42   ############################################# -->
    <!--<add name="SaasConnection" connectionString="server=192.168.1.42\sql2008r2;user id=sa;database=HRLink_Group180904;password=P@ssw0rd;" />
       <add name="RedisConnection" connectionString="redis.hrlink.com:6379,password=123456" />
       <add name="RabbitMQConnection" connectionString="rabbitmq.hrlink.com;5672;HRLink;hrlink;/HRLink" /> -->
    <!-- #############################################  Caesar本地 (请修改host文件)   ############################################# -->
    <!--<add name="SaasConnection" connectionString="server=192.168.1.63\sql2014;database=decathlon_group;uid=sa;pwd=P@ssw0rd;" />
    <add name="RedisConnection" connectionString="redis.hrlink.com:6379" />
    <add name="RabbitMQConnection" connectionString="rabbitmq.hrlink.com;5672;guest;guest;/Caesar" />-->
    <!-- #############################################  Other本地  (请修改host文件)   ############################################# -->
  </connectionStrings>
  <appSettings>
    <add key="BackendServiceUrl" value="http://192.168.1.42:8002/HRLinkBackendServiceApi/api/" />
    <!--注意！一旦SocketHA开启高可用， 多个socket schedule实例的端口号务必区分-->
    <add key="SocketServicePort" value="10080" />
    <add key="RedisPrefixion" value="HRLink:Emp:" />
    <!--薪资计算超时时间-->
    <add key="PayrollCalcOvertime" value="30" />
    <!--1为MySQL; 2为SQL SERVER-->
    <add key="DatabaseType" value="2" />
    <!--单机 alone;主分发server，次处理client-->
    <add key="SocketType" value="alone" />
    <add key="ClientSocketServer" value="192.168.1.42:9001" />
    <!--<add key="ServerSocket" value="192.168.1.179:9000" />-->
    <add key="ServerSocket" value="192.168.1.42:9000" />
    <!--<add key="WebSocketClient" value="192.168.1.16:9000" />-->
    <add key="LongTaskThreadNumber" value="10" />
    <add key="MinThreadRecordNumber" value="100" />
    <add key="BinDir" value="C:\inetpub\wwwroot\WebApp\HRlinkFrontendServiceApi\bin" />
    <!-- 计算草稿模式  Database、InProcCache、 AppFabric、Redis   -->
    <add key="RepoMode" value="InProcCache" />
    <!--<add key="Redis" value="10.211.55.100:6379,password=123" />-->
    <!--<add key="Redis" value="192.168.1.40:6379,password=123456" />-->
    <add key="Redis" value="192.168.1.42:6379,password=123" />
    <!-- ParallelStyle ~ 薪资计算模式 (Serial~ 使用串行；Normal ~ 使用CPU保守并行模式；Crazy~ 强制使用CPU过饱和模式；   -->
    <add key="ParallelStyle" value="Serial" />
    <!-- ParallelDegree ~ 薪资计算并行度【ParallelStyle=Normal是生效】 (1 ~ 串行；2~ 使用两个cpu逻辑内核；...（以此类推）...； 空/MEDIUM~ 使用黄金比例CPU逻辑内核； MAX ~ 使用全部CPU逻辑内核)   -->
    <add key="ParallelDegree" value="MAX" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--节点属性配置 ：1） 调度节点：scheduler，2）计算节点：work_1、work_2、work_3  依次类推 -->
    <!--<add key="NodeName" value="worker_1" />-->
    <add key="NodeName" value="scheduler" />
    <!--worker节点配置，多个用分号分割-->
    <!--<add key="AppWorkerList" value="worker.hrlink.com:61206;localhost:61207;worker.hrlink.com:61208;worker.hrlink.com:61209;worker.hrlink.com:61210;worker.hrlink.com:61211;worker.hrlink.com:61212;worker.hrlink.com:61213;worker.hrlink.com:61214;worker.hrlink.com:61215" />-->
    <!--<add key="AppWorkerList" value="worker.hrlink.com:61206;worker.hrlink.com:61207" />-->
    <add key="AppWorkerList" value="worker.hrlink.com:61206" />
    <!--调度策略： SHARE~均摊调度;  LB~负载均衡（取模）调度-->
    <add key="ScheduleStrategy_For_ATSINSPECT_AND_SEAL" value="SHARE" />
    <!--考勤审查与维度封账-->
    <add key="ScheduleStrategy_For_UNFIXIMPORT" value="LB" />
    <!--弹性排班导入-->
    <add key="ScheduleStrategy_For_UNFIXEXPORT" value="LB" />
    <!--弹性排班导出-->
    <add key="ScheduleStrategy_For_VIEWUNFIXEXPORT" value="LB" />
    <!--班表导出-->
    <add key="ScheduleStrategy_For_ATSEXCEPTIONNOTIFY" value="SHARE" />
    <!--考勤异常消息-->
    <add key="ScheduleStrategy_For_MESSAGEBOOKS" value="LB" />
    <!---->
    <add key="ScheduleStrategy_For_MONTHLYINPUTEXPORT" value="LB" />
    <!---->
    <add key="ScheduleStrategy_For_MONTHLYINPUTIMPORT" value="LB" />
    <!---->
    <add key="ScheduleStrategy_For_SALARYADJUSTEXPORT" value="LB" />
    <!---->
    <add key="ScheduleStrategy_For_SALARYADJUSTIMPORT" value="LB" />
    <!---->
    <add key="ScheduleStrategy_For_DIMENSIONDATAEXPORT" value="LB" />
    <!--维度数据汇总导出-->
    <!--是否开启Socket Server调度器高可用方案 （yes:高可用调度器；no：单一调度器）-->
    <!--注意！一旦开启高可用，必须配置connectionStrings@ZkConnection 以及appSettings@SocketScheduleEndpoint两处 -->
    <add key="SocketHA" value="Yes" />
    <!--当前SocketSchedule的Endpoint信息，注意端口号与appSettings@SocketServicePort一致-->
    <add key="SocketScheduleEndpoint" value="taskscheduler.hrlink.com:10080" />
    <!--Remote Scheduler 部署路径【若schedule与定时任务管理平台单机部署，则为绝对路径；若schedule与定时任务管理平台分布式部署，则Remote Scheduler JobLibs可以采用共享目录或NFS】-->
    <add key="RemoteSchedulerJobPath" value="D:\Sources\Moonring_JobLibs" />
    <!--远程定时调度服务器地址-->
    <add key="QuartzSchedulerProxyAddress" value="tcp://taskscheduler.hrlink.com:19202/Moonring" />
    <add key="QuartzSchedulerProxyPort" value="19202" />
    <!--定时调度数据库实例-->
    <add key="QuartzDataSourceConnectionString" value="Server=.\hive;database=quartz;uid=sa;pwd=sparksubmit666;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <!--<conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}] - %n错误描述：%message%newline %n"/>-->
        <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n数据：%message%newline %n" />
      </layout>
    </appender>
    <!--定义输出到windows事件中-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <!--None Fatal ERROR WARN DEBUG INFO ALL-->
      <level value="ERROR" />
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender" />
      <!--控制台控制显示日志-->
      <!--<appender-ref ref="ConsoleAppender" />-->
      <!--Windows事件日志-->
      <!--<appender-ref ref="EventLogAppender" />-->
      <!-- 数据库日志 -->
      <!--<appender-ref ref="AdoNetAppender_Access" />-->
    </root>
  </log4net>
  <!--<unity configSource="Config\Unity.config" />-->
  <!--<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IScheduleLongRunningService" type="HRLink.BackendService.ILongRunning.IScheduleLongRunningService, HRLink.BackendService.ILongRunning" />
    <alias alias="ScheduleService" type="HRLink.BackendService.Service.ScheduleService, HRLink.BackendService.ScheduleService" />
    <alias alias="IUnfixImportEmpClassSocketHandler" type="SocketServer.Handler.IUnfixImportEmpClassSocketHandler, SocketServer.Handler" />
    <alias alias="UnfixImportEmpClassHandler" type="SocketServer.Handler.UnfixImportEmpClassHelper, SocketServer.Handler" />
    <container name="SocketContainer">
      <register type="IScheduleLongRunningService" mapTo="ScheduleService" />
      <register type="IUnfixImportEmpClassSocketHandler" mapTo="UnfixImportEmpClassHandler" />
    </container>
  </unity>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IronPython" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.9.0" newVersion="2.7.9.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Scripting" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Dynamic" publicKeyToken="7f709c5b713576e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>